*{
    margin:0px;
    padding:0px;
}
body {
      font-size:12px;
    }
 a img{
     border:none
 }
 a{
     text-decoration:none;
    color:Black;
 }
 a:hover {
     color:Orange;
 }
 ul{
     list-style:none;
   }
     